.nav {
  font-size: 20px;
  box-shadow: 0px 0px 3px 1px #CECECE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px
}

.nav-link {
  padding-left: 30px;
}

.link {
  padding-right: 30px;
}